/*body {
    font: 1em sans-serif;
    padding: 0;
    margin : 0;
  }
  
  form {
    max-width: 300px;
    margin: 0;
    padding: 0 5px;
  }

  .myclass{
    display: flex;
    justify-content: center;

  }
  
  p > label {
    display: block;
  }
  
  input[type=text],
  input[type=email],
  input[type=number],
  textarea,
  fieldset {
  /* requis pour composer de manière appropriée les éléments
     de formulaire sur les navigateurs fondés sur WebKit */
    /*-webkit-appearance: none;
  
    width : 100%;
    border: 1px solid #333;
    margin: 0;
  
    font-family: inherit;
    font-size: 90%;
  
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  input:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  
  input:focus:invalid {
    outline: none;
  }*/
  body {
    font-size: large;
  box-sizing: border-box;
  
  }
  input {margin-top: 20px;}
  
  
  .item {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
  }
  .label1{

    display: inline-flex;
    justify-content: center;
    flex-flow: column ;
    width: 220px;
    justify-content: space-around;
    height: 300px;
  }
  .label1 div{
    display: flex;

    justify-content: center;
  }
  .label1 div strong{
    color: red;
  }

  .myinput{
    display: inline-flex;
    flex-flow: column wrap;
    width: 500px;
    height: 300px;
    justify-content: space-evenly;


  }
  .myinput div{
    display: flex;
    justify-content: center;
  }
  .myrow{
    display: inline-flex;

  }
  